*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.slider-container{
    max-width: 1000px;
    margin: auto;
    position: relative;
}

.slider-carousel{
    display: flex;
    align-items: center;
}

.slider-carousel .images{
    padding: 0 5%;
}

.slider-carousel .arrow{
    font-size: 40px;
    cursor: pointer;
}

.circles{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 999px;
}

.circle{
    color: white;
    margin: 0 10px;
    cursor: pointer;
}

.circle.active{
    color: blue;
}